{% extends '::base.html.twig' %}

{% block content %}
    {% include '@App/Default/partial/probabilities.html.twig' %}
    <canvas id="charStarBestFriendsOrder" width="200" height="100"></canvas>
    <div style="text-align: center">
        <a download="exportStarBestFriendsOrder.png">
            Exporter le graphique en PNG
        </a>
    </div>
    <script type="text/javascript" charset="utf-8">
        $(function () {
            var $charStarBestFriendsOrder = $('#charStarBestFriendsOrder');

            var options = {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                animation: {
                    duration: 400,
                    onComplete: function (animation) {
                        $('a', $(this.chart.canvas).next()).attr('href', this.toBase64Image());
                    }
                }
            };


            var charStarBestFriendsOrder = new Chart($charStarBestFriendsOrder, {
                type: 'bar',
                data: {
                    labels: [{% for number in starsBestFriendsOrder %}
                        '{{ number['etoile'] }}-{{ number['duo'] }}'{{ not loop.last ? ', ' }}
                        {% endfor %}],
                    datasets: [{
                        label: 'Fréquence d\'apparition des étoiles en duo',
                        data: [{% for number in starsBestFriendsOrder %}
                            '{{ number['occurrence'] }}'{{ not loop.last ? ', ' }}
                            {% endfor %}],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255,99,132,1)',
                        borderWidth: 1
                    }]
                },
                options: options
            });
        });
    </script>
{% endblock %}